@model _04_Data.Data.Empleado

@{
    ViewBag.Title = "Details";
    string miImagen = "https://tupelu.es/Ajax_y_Json/ajax_northwind_mysql/ajax_actual_fetch/detail/Images/empleado/" + Model.EmployeeID + ".jpg";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            <img src=@miImagen>
        </dd>

    </dl>
</div>

@{
    string onClickAnterior = "empleado(" + Model.EmployeeID + "," + 0 + ")";
    string onClickSiguiente = "empleado(" + Model.EmployeeID + "," + 1 + ")";
}
<input type="button" value="Anterior" onclick=@onClickAnterior>
<input type="button" value="Siguiente" onclick=@onClickSiguiente>